* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    margin-top: 20px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon:hover {
    background:rgb(231, 223, 223);
    cursor: pointer;
}
.arrow {
    transition: transform .3s ease;
}
.icon:hover .arrow {
    /* transform: ; */
    transform: translate(3px, -3px);
}