* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.dot {
    margin: 10px;;
    height: 20px;
    width: 20px;
    background: rgb(214, 70, 250);
    border-radius: 100%;
    animation: animate 2s linear infinite;
}

@keyframes animate {
    0%, 100% {
        transform: scale(0.2);
    }
    50%{ 
        transform: scale(1.5);
        background-color: rgb(0, 0, 202);
    }
}
.d1 {
    animation-delay: 0.3s;
}
.d2 {
    animation-delay: 0.6s;
}
.d3 {
    animation-delay: 0.9s;
}
.d4 {
    animation-delay: 1.2s;
}
.d5 {
    animation-delay: 1.5s;
}
